html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.detail-product-wrap {
  width: 100%;
  background-color: #fff;
}
.title-detail {
  width: 1250px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.title-detail .title-detail-home {
  color: #919191;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}
.title-detail .title-detail-home:hover {
  cursor: pointer;
}
.title-detail i {
  color: #919191;
  font-size: 14px;
  margin-right: 10px;
}
.title-detail .title-detail-name {
  font-size: 14px;
  font-weight: bolder;
  color: #919191;
}
.product-detail {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.product-detail-left {
  width: 625px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  height: 480px;
  display: flex;
  justify-content: space-between;
}
.slide-thumb-wrap {
  width: 100px;
  position: relative;
  overflow: hidden;
}
.slide-thumb-list {
  width: 80px;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.slide-thumb-list:hover {
  cursor: pointer;
}
.slide-thumb-item {
  width: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
}
.slide-thumb-item.active {
  border: 1px solid #5a5959;
}
.slide-thumb-item img {
  width: 76px;
  height: 76px;
  object-fit: cover;
  object-position: center;
}
.image-wrap {
  width: 478px;
  position: relative;
  overflow: hidden;
}
.image-product-list {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.image-product-item {
  width: 478px;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-product-item img {
  width: 478px;
  height: 478px;
}
.image-button {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 33px;
  background-color: #ffbd82;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 6px 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}
.image-button button {
  border: none;
}
.expand {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 30px;
  color: #aaaaaa;
  transition: all 0.1s ease;
}
.expand:hover {
  color: rgb(120, 167, 207);
  transform: scale(1.1);
  cursor: pointer;
}
.product-detail-right {
  width: 625px;
  height: 480px;
}
.product-info-buy {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.info-buy-title {
  color: #525252;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}
.info-brand {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.info-brand img {
  margin-right: 10px;
}
.info-brand-1 {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(127, 127, 127);
}
.info-brand-1 span {
  color: rgb(12, 151, 251);
  font-weight: 600;
}
.info-brand-1 span:hover {
  cursor: pointer;
}
.info-brand-2 {
  font-size: 14px;
  font-weight: 400;
  color: rgb(127, 127, 127);
}
.info-brand-2 span {
  font-size: 14px;
  font-weight: 400;
  color: rgb(82, 82, 82);
}
.info-sale {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding-bottom: 25px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.info-sale-price {
  color: #ff8c82;
  font-weight: 700;
  font-size: 26px;
  margin-right: 10px;
}
.info-original-price {
  color: #919191;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 10px;
}
.info-sale-percent {
  background-color: #fae690;
  padding: 2px 4px;
  font-size: 12px;
}
.count {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  align-items: center;
  padding-top: 10px;
}
.count-text {
  color: #525252;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}
.count-number {
  display: flex;
  justify-content: flex-start;
  height: 50px;
}
.count-number button {
  border: 1px solid #eee;
  background-color: #fff;
  color: 525252;
  width: 50px;
  height: 50px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count-number:hover button {
  cursor: pointer;
}
.count-number input {
  width: 70px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: none;
  border-right: none;
  text-align: center;
  margin: 0;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.store {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.store i {
  margin-right: 10px;
  color: #aaa;
}
.count-store {
  margin-right: 5px;
  color: #ff8c82 !important;
}
.store span {
  font-size: 16px;
  font-weight: 400;
  color: #525252;
}
.card-store {
  margin-top: 15px;
}
.card-store button {
  background-color: #525252;
  width: 100%;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.25s ease;
}
.card-store button i {
  margin-right: 15px;
}
.card-store:hover button {
  background-color: #ff8c82;
  cursor: pointer;
}
.same-product-wrap {
  width: 100%;
  background-color: #f9f9f9;
}
.same-product {
  width: 1250px;
  margin: 0 auto;
}
.same-product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}
.same-product-title {
  color: #919191;
  font-size: 20px;
  font-weight: 700;
}
.same-product-bot {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.same-product-list-wrap {
  position: relative;
  overflow: hidden;
}
.same-product-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.5s ease;
}
.same-product-item {
  width: 233px;
  height: 312px;
  margin-right: 17px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
}
.same-product-item-img {
  height: 220px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.same-product-item-img img {
  width: 224px;
  height: 224px;
}
.same-product-heart {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 20px;
  color: #7a7a7a;
  visibility: hidden;
  opacity: 0;
}
.same-product-item-info {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: space-between;
}
.same-product-info-text {
  color: #7f7f7f;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.same-product-info-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-same {
  font-size: 18px;
  font-weight: 600;
  color: #525252;
}
.add-cart-same {
  font-size: 18px;
  color: #525252;
}
.same-product-item:hover {
  cursor: pointer;
}
.same-product-item:hover .same-product-item-img .same-product-heart {
  visibility: visible;
  opacity: 1;
  color: #fd7e14;
}
.same-product-item:hover .same-product-item-img img {
  transform: scale(1.1);
}
.same-product-item:hover .same-product-info-price .add-cart-same {
  color: #fd7e14;
}
.prev-same button {
  width: 48px;
  height: 48px;
  background-color: #fff;
  color: #d2d2d2;
  position: absolute;
  font-size: 20px;
  top: 140px;
  left: -25px;
  border: 1px solid #fff;
  border-radius: 5px;
  opacity: 0.4;
  transition: all 0.5s ease;
}
.prev-same:hover button {
  cursor: pointer;
  opacity: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}
.next-same button {
  width: 48px;
  height: 48px;
  background-color: #fff;
  color: #d2d2d2;
  position: absolute;
  font-size: 20px;
  top: 140px;
  right: -15px;
  border: 1px solid #fff;
  border-radius: 5px;
  opacity: 0.4;
  transition: all 0.5s ease;
}
.next-same:hover button {
  cursor: pointer;
  opacity: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}
.detail-info-product-wrap {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 20px;
}
.detail-info-product {
  width: 1250px;
  margin: 0 auto;
  margin-top: 30px;
}
.detail-info-product-title {
  color: #919191;
  font-size: 20px;
  font-weight: 700;
}
.tab-content-product {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.tab-content {
  color: #7f7f7f;
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
  height: 25px;
  width: 120px;
  box-sizing: border-box;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
}
.tab-content.active {
  border-bottom: 2px solid #ff8c82;
  color: #ff8c82;
  font-weight: 600;
}
.tab-content:hover {
  color: #ff8c82;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.detail-content {
  margin-top: 15px;
  position: relative;
  height: auto;
  overflow: hidden;
}
.detail-content-wrap {
  position: relative;
  height: auto !important;
}
.content-tab {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #525252;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
.content-tab.active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  position: relative;
}
.content-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-img img {
  width: 450px;
  height: 340px;
}
.content-tab h4 {
  font-style: italic;
}
.content-tab table {
  border-collapse: collapse;
  width: 1000px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}
.content-tab table tbody tr {
  height: 50px;
  border: 1px solid #ececec;
}
.content-tab table tbody tr th {
  width: 250px;
  border-right: 1px solid #ececec;
  background-color: #f9f9f9;
  padding-left: 10px;
  color: #525252;
}
.content-tab table tbody tr td {
  padding-left: 10px;
}
.readMore {
  position: absolute;
  bottom: 0;
  left: 465px;
  opacity: 0;
  visibility: hidden;
}
.readMore.action {
  opacity: 1;
  visibility: visible;
  z-index: 11;
}
.readMore button {
  font-size: 16px;
  border: 1px solid #525252;
  width: 350px;
  height: 40px;
  background-color: #fff;
  color: #525252;
  font-weight: 600;
}
.readMore:hover button {
  cursor: pointer;
}
.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s;
  z-index: 0;
}
.gallery.publish {
  opacity: 1;
  z-index: 1000;
  pointer-events: auto;
}
.gallery-slide-thumb-wrap {
  position: absolute;
  height: 530px;
  top: 0;
  left: 0;
}
.gallery-slide-thumb-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.gallery-slide-thumb-list:hover {
  cursor: pointer;
}
.gallery-slide-thumb-item img {
  width: 78px;
  height: 78px;
}
.gallery-image-wrap {
  width: 1000px;
  position: relative;
  overflow: hidden;
}
.gallery-image-list {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
  position: relative;
}
.gallery-image-item {
  width: 1000px;
  height: 1000px;
}
.gallery-image-item img {
  width: 1000px;
  height: 1000px;
}
.close-gallery {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  font-size: 35px;
  transition: all 0.25s ease;
}
.close-gallery:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(106, 106, 248);
}
